<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/updateData" method="post" style="height: 180px;display: flex; flex-direction: column;justify-content: center; align-items: center; width: 22%;border: 1px solid black;">
        <input type="text" name="id" value="<%=singleData.id%>" hidden style="height: 30px;width: 80%; margin-top: 2%;" placeholder="Enter Your name" id="">
        <input type="text" name="name" value="<%=singleData.name%>" style="height: 30px;width: 80%; margin-top: 2%;" placeholder="Enter Your name" id="">
        <input type="text" name="sub" value="<%=singleData.sub%>" style="height: 30px;width: 80%; margin-top: 2%;" placeholder="Enter Subject" id="">
        <button type="submit" style="height: 30px;width: 83%; margin-top: 2%;">Update</button>
    </form>
</body>
</html>