<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>
    <form action="/updateData" method="post">
        <input type="text" value="<%=data.id%>" name="id" hidden placeholder="Enter Name" id="">
        <input type="text" value="<%=data.name%>" name="name" placeholder="Enter Name" id="">
        <input type="text" value="<%=data.sub%>" name="sub" placeholder="Enter Subject" id="">
        <input type="text" value="<%=data.city%>" name="city" placeholder="Enter City" id="">
        <button type="submit">Update Data</button>
    </form>
</body>
</html>